[submodule "tools/qemu"]
	path = tools/qemu
	url = git@github.com:qemu/qemu.git
[submodule "tools/riscv-gnu-toolchain"]
	path = tools/riscv-gnu-toolchain
	url = git@github.com:riscv/riscv-gnu-toolchain.git
[submodule "tools/riscv-linux"]
	path = tools/riscv-linux
	url = git@github.com:riscv/riscv-linux.git
[submodule "security_monitor"]
	path = security_monitor
	url = git@github.com:ilebedev/security_monitor.git
[submodule "secure_bootloader"]
	path = secure_bootloader
	url = git@github.com:ilebedev/secure_bootloader.git
[submodule "enclaves/voting_machine_enclave"]
	path = enclaves/voting_machine_enclave
	url = git@github.com:jdrean/voting_machine_enclave.git
[submodule "enclaves/attestation_enclave"]
	path = enclaves/attestation_enclave
	url = git@github.com:ilebedev/attestation_enclave.git
